:root {
  --body-foreground-color: white;
  --body-background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  height: 100%;
  font-feature-settings: "salt" 1;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

body {
  color: var(--body-foreground-color);
  background: var(--body-background-color);
}

a {
  color: inherit;
  text-decoration-thickness: 0.5px;
  text-decoration-style: wavy;
}
