---
import Layout from '../layouts/Layout.astro';
import HomePage from '../components/HomePage';
import ThreadsIcon from '../components/ThreadsIcon.astro';
import XIcon from '../components/XIcon.astro';
import Card from '../components/Card.astro';

const Content = {
  tagline: `
Whimsical software,  
among other things
  `,
  seoDescription:
    "Peruvian-American engineer & designer based in Philadelphia, PA.",
};
---

<Layout title="Rolando" description="Peruvian-American engineer & designer based in Philadelphia, PA.">
    <main>
      <div class="main-container" style={{
        minHeight: "100dvh",
        display: "flex",
        flexDirection: "column",
      }}>
        {/* Hero Section */}
        <div class="hero-section" style={{
        }}>
            Whimsical tools<br>for everyday life
        </div>

        <Card href="https://bleep.is/" target="_blank" style={{ width: "280px"}}>
          <img src="/bleep_icon.png" alt="Bleep's icon" style={{ width: "48px", height: "auto", borderRadius: "10px" }} />
          <p style={{ margin: 0, lineHeight: 1.4 }}>
            <strong>Bleep</strong> · Organize your ideas visually on iOS and macOS.
          </p>
        </Card>

        <Card href="https://testflight.apple.com/join/pumSW2WF" style={{ width: "300px"}}>
          <img src="/flow_icon.png" alt="Flow's icon" style={{ width: "48px", height: "auto", borderRadius: "10px" }} />
          <p style={{ margin: 0, lineHeight: 1.4 }}>
            <strong>Flow</strong> · Casual money tracker. Join the TestFlight for iPhone.
          </p>
        </Card>

        <Card style={{ width: "300px"}}>
          <img src="/avatar.png" alt="Rolando's avatar" style={{ width: "48px", height: "auto", borderRadius: "10px" }} />
          <p style={{ margin: 0, lineHeight: 1.4 }}>
          <strong>About me</strong> · 👋 I'm Rolando. Jack of all trades, master of some. 
          </p>
        </Card>

        <Card class="social-card" style={{ display: "flex", flexDirection: "column", alignItems: "center", justifyContent: "center", gap: "1em", width: "auto"}}>
          <ThreadsIcon size={28} />
          <XIcon size={28} />
        </Card>
      </div>
    </main>
</Layout>

<style>
  .hero-section {
    font-size: var(--font-size-hero2);
    font-weight: 300;
    line-height: 1.25;
    padding: 1em;
    font-family: 'Jugendreisen', system-ui, -apple-system, sans-serif;
    color: white;
    filter: drop-shadow(0 8px 16px rgba(23, 29, 35, 1.0));
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 
                 0 0 40px rgba(255, 255, 255, 0.3), 
                 0 0 60px rgba(255, 255, 255, 0.1);
  }

  @media (max-width: 1200px) {
    .hero-section {
      font-size: 72px;
    }
  }
  @media (max-width: 700px) {
    .hero-section {
      font-size: 32px;
    }
  }



  /* Portrait mode: move hero text to bottom */
  @media (orientation: portrait) {
    .main-container {
      justify-content: flex-end !important;
    }
  }
</style>
