---
import Layout from '../layouts/Layout.astro';
import HomePage from '../components/HomePage';
import ThreadsIcon from '../components/ThreadsIcon.astro';
import XIcon from '../components/XIcon.astro';
import Card from '../components/Card.astro';
import CardOneliner from '../components/CardOneliner.astro';

const Content = {
  tagline: `
Whimsical software,  
among other things
  `,
  seoDescription:
    "Peruvian-American engineer & designer based in Philadelphia, PA.",
};
---

<Layout title="Rolando" description="Peruvian-American engineer & designer based in Philadelphia, PA.">
    <main>
        <header class="hero-section">
          Whimsical tools<br><span style="position: relative; left: 0.1em">for everyday life</span>
        </header>

        <Card href="https://bleep.is/" target="_blank" style={{ width: "280px"}} id="card-bleep">
          <img src="/bleep_icon.png" alt="Bleep's icon" style={{ width: "48px", height: "auto", borderRadius: "10px" }} />
            <CardOneliner title="Bleep" description="Organize your ideas visually on iOS and macOS." />
        </Card>

        <Card href="https://testflight.apple.com/join/pumSW2WF" style={{ width: "300px"}} id="card-flow">
          <img src="/flow_icon.png" alt="Flow's icon" style={{ width: "48px", height: "auto", borderRadius: "10px" }} />
            <CardOneliner title="Flow" description="Casual money tracker. Join the TestFlight for iPhone." />
        </Card>

        <Card style={{ width: "300px"}} id="card-about">
          <img src="/avatar.png" alt="Rolando's avatar" style={{ width: "48px", height: "auto", borderRadius: "10px" }} />
            <CardOneliner title="About me" description="I'm Rolando. Jack of all trades, master of some." />
        </Card>

        <Card class="social-card" style={{ display: "flex", flexDirection: "column", alignItems: "center", justifyContent: "center", gap: "1em", width: "auto"}} id="card-social">
          <ThreadsIcon size={28} />
          <XIcon size={28} />
        </Card>
    </main>
</Layout>

<style>
  main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
  .hero-section {
    font-size: 72px;
    font-weight: 300;
    line-height: 1.25;
    padding: 1em;
    font-family: 'Jugendreisen', system-ui, -apple-system, sans-serif;
    color: white;
    text-shadow: 
      0 0 20px rgba(255, 255, 255, 0.6), 
      0 0 40px rgba(255, 255, 255, 0.4), 
      0 0 60px rgba(255, 255, 255, 0.3),
      0 0.025em 0 hsla(274, 62%, 79%, 1.0),
      0 8px 16px hsl(210, 51%, 5%);
  }

  @media (max-width: 1200px) {
    .hero-section {
      font-size: 72px;
    }
  }
  @media (max-width: 756px) {
    .hero-section {
      font-size: 48px;
    }
  }
  @media (max-width: 512px) {
    .hero-section {
      font-size: 32px;
      text-align: center;
    }
  }

  @media (orientation: portrait) {
    main {
      justify-content: flex-end;
    }
  }
</style>
